

.container{
    max-width: 380px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    color: #fff;
    box-sizing: border-box;
}

h2{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

input{
    width:100%;
    margin: 10px 0;
    outline:none;
    background-color: transparent;
    color: #fff;
    padding: 10px 6px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px #fff solid;
}

button{
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(90, 120, 190);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}